<div class="container">
  <form>
    <div class="row">
      <div class="col-25">
      <label>Name:</label>
</div>
<div class="col-75">
      <input type="text" [(ngModel)]="person.name" name="name" placeholder="name">
    </div>
    </div>

    <div class="row">
      <div class="col-25">
      <label>Age:</label>
</div>
<div class="col-75">
      <input type="text" [(ngModel)]="person.age" name="age" placeholder="age">
    </div>
    </div>
    <div class="row">
      <div class="col-25">
      <label>Gender:</label>
</div>
      <input type="text" [(ngModel)]="person.gender" name="gender" placeholder="gender">
    </div>
    <div class="row">
      <div class="col-25">
      <label>Mobile Number:</label>
</div>
      <input type="text" [(ngModel)]="person.mobilenumber" name="mobilenumber" placeholder="mobilenumber">
    </div>
    <button (click)="edit(person)">submit</button>
  </form>
</div>